{
  "swagger": "2.0",
  "info": {
    "title": "Weatherbit.io - Weather API",
    "description": "This is the documentation for the Weatherbit API.  The base URL for the API is [http://api.weatherbit.io/v2.0/](http://api.weatherbit.io/v2.0/) or [https://api.weatherbit.io/v2.0/](http://api.weatherbit.io/v2.0/). Below is the Swagger UI documentation for the API. All API requests require the `key` parameter.        An Example for a 5 day forecast for London, UK would be `http://api.weatherbit.io/v2.0/forecast/3hourly?city=London`&`country=UK`",
    "version": "2.0.0"
  },
  "host": "api.weatherbit.io",
  "schemes": [
    "https",
    "http"
  ],
  "basePath": "/v2.0",
  "produces": [
    "application/json"
  ],
  "paths": {
    "/current?lat={lat}&lon={lon}": {
      "get": {
        "summary": "Returns a Current Observation - Given a lat/lon.",
        "description": "Returns a Current Observation - given a lat, and a lon.",
        "parameters": [
          {
            "name": "lat",
            "in": "path",
            "description": "Latitude component of location.",
            "required": true,
            "type": "number",
            "format": "double"
          },
          {
            "name": "lon",
            "in": "path",
            "description": "Longitude component of location.",
            "required": true,
            "type": "number",
            "format": "double"
          },
          {
            "name": "marine",
            "in": "query",
            "description": "Marine stations only (buoys, oil platforms, etc)",
            "required": false,
            "enum": [
              "t"
            ],
            "type": "string",
            "format": "string"
          },
          {
            "name": "units",
            "in": "query",
            "description": "Convert to units. Default Metric See <a href='/api/requests'>units field description</a>",
            "required": false,
            "enum": [
              "S",
              "I"
            ],
            "type": "string",
            "format": "string"
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language (Default: English) See <a href='/api/requests'>language field description</a>",
            "required": false,
            "enum": [
              "ar",
              "az",
              "be",
              "bg",
              "bs",
              "ca",
              "cs",
              "de",
              "fi",
              "fr",
              "el",
              "es",
              "et",
              "hr",
              "hu",
              "id",
              "it",
              "is",
              "kw",
              "nb",
              "nl",
              "pl",
              "pt",
              "ro",
              "ru",
              "sk",
              "sl",
              "sr",
              "sv",
              "tr",
              "uk",
              "zh",
              "zh-tw"
            ],
            "type": "string",
            "format": "string"
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Wraps return in jsonp callback - Example - callback=func",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "key",
            "in": "query",
            "description": "Your registered API key.",
            "required": true,
            "type": "string",
            "format": "string"
          }
        ],
        "tags": [
          "Current Weather Data"
        ],
        "responses": {
          "200": {
            "description": "An Observation Group object.",
            "schema": {
              "$ref": "#/definitions/CurrentObsGroup"
            }
          },
          "default": {
            "description": "No Data.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/current?city_id={city_id}": {
      "get": {
        "summary": "Returns a current observation by city id.",
        "description": "Returns current weather observation - Given a City ID. ",
        "parameters": [
          {
            "name": "city_id",
            "in": "path",
            "description": "City ID. Example: 4487042",
            "required": true,
            "type": "string",
            "format": "string"
          },
          {
            "name": "units",
            "in": "query",
            "description": "Convert to units. Default Metric See <a href='/api/requests'>units field description</a>",
            "required": false,
            "enum": [
              "S",
              "I"
            ],
            "type": "string",
            "format": "string"
          },
          {
            "name": "marine",
            "in": "query",
            "description": "Marine stations only (buoys, oil platforms, etc)",
            "required": false,
            "enum": [
              "t"
            ],
            "type": "string",
            "format": "string"
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language (Default: English) See <a href='/api/requests'>language field description</a>",
            "required": false,
            "enum": [
              "ar",
              "az",
              "be",
              "bg",
              "bs",
              "ca",
              "cs",
              "de",
              "fi",
              "fr",
              "el",
              "es",
              "et",
              "hr",
              "hu",
              "id",
              "it",
              "is",
              "kw",
              "nb",
              "nl",
              "pl",
              "pt",
              "ro",
              "ru",
              "sk",
              "sl",
              "sr",
              "sv",
              "tr",
              "uk",
              "zh",
              "zh-tw"
            ],
            "type": "string",
            "format": "string"
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Wraps return in jsonp callback - Example - callback=func",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "key",
            "in": "query",
            "description": "Your registered API key.",
            "required": true,
            "type": "string",
            "format": "string"
          }
        ],
        "tags": [
          "Current Weather Data"
        ],
        "responses": {
          "200": {
            "description": "An Observation Group object.",
            "schema": {
              "$ref": "#/definitions/CurrentObsGroup"
            }
          },
          "default": {
            "description": "No Data.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/current?postal_code={postal_code}": {
      "get": {
        "summary": "Returns a current observation by postal code.",
        "description": "Returns current weather observation - Given a Postal Code. ",
        "parameters": [
          {
            "name": "postal_code",
            "in": "path",
            "description": "Postal Code. Example: 28546",
            "required": true,
            "type": "string",
            "format": "string"
          },
          {
            "name": "country",
            "in": "query",
            "description": "Country Code (2 letter).",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "marine",
            "in": "query",
            "description": "Marine stations only (buoys, oil platforms, etc)",
            "required": false,
            "enum": [
              "t"
            ],
            "type": "string",
            "format": "string"
          },
          {
            "name": "units",
            "in": "query",
            "description": "Convert to units. Default Metric See <a href='/api/requests'>units field description</a>",
            "required": false,
            "enum": [
              "S",
              "I"
            ],
            "type": "string",
            "format": "string"
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language (Default: English) See <a href='/api/requests'>language field description</a>",
            "required": false,
            "enum": [
              "ar",
              "az",
              "be",
              "bg",
              "bs",
              "ca",
              "cs",
              "de",
              "fi",
              "fr",
              "el",
              "es",
              "et",
              "hr",
              "hu",
              "id",
              "it",
              "is",
              "kw",
              "nb",
              "nl",
              "pl",
              "pt",
              "ro",
              "ru",
              "sk",
              "sl",
              "sr",
              "sv",
              "tr",
              "uk",
              "zh",
              "zh-tw"
            ],
            "type": "string",
            "format": "string"
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Wraps return in jsonp callback - Example - callback=func",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "key",
            "in": "query",
            "description": "Your registered API key.",
            "required": true,
            "type": "string",
            "format": "string"
          }
        ],
        "tags": [
          "Current Weather Data"
        ],
        "responses": {
          "200": {
            "description": "An Observation Group object.",
            "schema": {
              "$ref": "#/definitions/CurrentObsGroup"
            }
          },
          "default": {
            "description": "No Data.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/current?cities={cities}": {
      "get": {
        "summary": "Returns a group of observations given a list of cities",
        "description": "**(Advanced/Advanced+/Enterprise plans only)** Returns a group of Current Observations - Given a list of City IDs. ",
        "parameters": [
          {
            "name": "cities",
            "in": "path",
            "description": "Comma separated list of City ID's. Example: 4487042, 4494942, 4504871",
            "required": true,
            "type": "string",
            "format": "string"
          },
          {
            "name": "units",
            "in": "query",
            "description": "Convert to units. Default Metric See <a href='/api/requests'>units field description</a>",
            "required": false,
            "enum": [
              "S",
              "I"
            ],
            "type": "string",
            "format": "string"
          },
          {
            "name": "marine",
            "in": "query",
            "description": "Marine stations only (buoys, oil platforms, etc)",
            "required": false,
            "enum": [
              "t"
            ],
            "type": "string",
            "format": "string"
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language (Default: English) See <a href='/api/requests'>language field description</a>",
            "required": false,
            "enum": [
              "ar",
              "az",
              "be",
              "bg",
              "bs",
              "ca",
              "cs",
              "de",
              "fi",
              "fr",
              "el",
              "es",
              "et",
              "hr",
              "hu",
              "id",
              "it",
              "is",
              "kw",
              "nb",
              "nl",
              "pl",
              "pt",
              "ro",
              "ru",
              "sk",
              "sl",
              "sr",
              "sv",
              "tr",
              "uk",
              "zh",
              "zh-tw"
            ],
            "type": "string",
            "format": "string"
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Wraps return in jsonp callback - Example - callback=func",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "key",
            "in": "query",
            "description": "Your registered API key.",
            "required": true,
            "type": "string",
            "format": "string"
          }
        ],
        "tags": [
          "Current Weather Data"
        ],
        "responses": {
          "200": {
            "description": "An Observation Group object.",
            "schema": {
              "$ref": "#/definitions/CurrentObsGroup"
            }
          },
          "default": {
            "description": "No Data.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/current": {
      "get": {
        "summary": "Returns a Current Observation - Given City and/or State, Country.",
        "description": "Returns a Current Observation - Given a city in the format of City,ST or City. The state, and country parameters can be provided to make the search more accurate.",
        "parameters": [
          {
            "name": "city",
            "in": "query",
            "description": "City search.. Example - &city=Raleigh,NC or &city=Berlin,DE or city=Paris&country=FR",
            "required": true,
            "type": "string",
            "format": "string"
          },
          {
            "name": "state",
            "in": "query",
            "description": "Full name of state.",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "country",
            "in": "query",
            "description": "Country Code (2 letter).",
            "required": true,
            "type": "string",
            "format": "string"
          },
          {
            "name": "marine",
            "in": "query",
            "description": "Marine stations only (buoys, oil platforms, etc)",
            "required": false,
            "enum": [
              "t"
            ],
            "type": "string",
            "format": "string"
          },
          {
            "name": "units",
            "in": "query",
            "description": "Convert to units. Default Metric See <a href='/api/requests'>units field description</a>",
            "required": false,
            "enum": [
              "S",
              "I"
            ],
            "type": "string",
            "format": "string"
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language (Default: English) See <a href='/api/requests'>language field description</a>",
            "required": false,
            "enum": [
              "ar",
              "az",
              "be",
              "bg",
              "bs",
              "ca",
              "cs",
              "de",
              "fi",
              "fr",
              "el",
              "es",
              "et",
              "hr",
              "hu",
              "id",
              "it",
              "is",
              "kw",
              "nb",
              "nl",
              "pl",
              "pt",
              "ro",
              "ru",
              "sk",
              "sl",
              "sr",
              "sv",
              "tr",
              "uk",
              "zh",
              "zh-tw"
            ],
            "type": "string",
            "format": "string"
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Wraps return in jsonp callback - Example - callback=func",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "key",
            "in": "query",
            "description": "Your registered API key.",
            "required": true,
            "type": "string",
            "format": "string"
          }
        ],
        "tags": [
          "Current Weather Data"
        ],
        "responses": {
          "200": {
            "description": "An Observation Group object.",
            "schema": {
              "$ref": "#/definitions/CurrentObsGroup"
            }
          },
          "default": {
            "description": "No Data.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/current?ip={ip}": {
      "get": {
        "summary": "Returns a Current Observation - Given an IP address, or auto.",
        "description": "Returns a Current Observation - Given an IP address, or auto.",
        "parameters": [
          {
            "name": "ip",
            "in": "path",
            "description": "IP Address, or auto. Example: ip=auto",
            "required": true,
            "type": "string",
            "format": "string"
          },
          {
            "name": "marine",
            "in": "query",
            "description": "Marine stations only (buoys, oil platforms, etc)",
            "required": false,
            "enum": [
              "t"
            ],
            "type": "string",
            "format": "string"
          },
          {
            "name": "units",
            "in": "query",
            "description": "Convert to units. Default Metric See <a href='/api/requests'>units field description</a>",
            "required": false,
            "enum": [
              "S",
              "I"
            ],
            "type": "string",
            "format": "string"
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language (Default: English) See <a href='/api/requests'>language field description</a>",
            "required": false,
            "enum": [
              "ar",
              "az",
              "be",
              "bg",
              "bs",
              "ca",
              "cs",
              "de",
              "fi",
              "fr",
              "el",
              "es",
              "et",
              "hr",
              "hu",
              "id",
              "it",
              "is",
              "kw",
              "nb",
              "nl",
              "pl",
              "pt",
              "ro",
              "ru",
              "sk",
              "sl",
              "sr",
              "sv",
              "tr",
              "uk",
              "zh",
              "zh-tw"
            ],
            "type": "string",
            "format": "string"
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Wraps return in jsonp callback - Example - callback=func",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "key",
            "in": "query",
            "description": "Your registered API key.",
            "required": true,
            "type": "string",
            "format": "string"
          }
        ],
        "tags": [
          "Current Weather Data"
        ],
        "responses": {
          "200": {
            "description": "An Observation Group object.",
            "schema": {
              "$ref": "#/definitions/CurrentObsGroup"
            }
          },
          "default": {
            "description": "No Data.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/current?station={station}": {
      "get": {
        "summary": "Returns a Current Observation. - Given a station ID.",
        "description": "Returns a Current Observation - Given a station ID.",
        "parameters": [
          {
            "name": "station",
            "in": "path",
            "description": "Station Call ID.",
            "required": true,
            "type": "string",
            "format": "string"
          },
          {
            "name": "units",
            "in": "query",
            "description": "Convert to units. Default Metric See <a href='/api/requests'>units field description</a>",
            "required": false,
            "enum": [
              "S",
              "I"
            ],
            "type": "string",
            "format": "string"
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language (Default: English) See <a href='/api/requests'>language field description</a>",
            "required": false,
            "enum": [
              "ar",
              "az",
              "be",
              "bg",
              "bs",
              "ca",
              "cs",
              "de",
              "fi",
              "fr",
              "el",
              "es",
              "et",
              "hr",
              "hu",
              "id",
              "it",
              "is",
              "kw",
              "nb",
              "nl",
              "pl",
              "pt",
              "ro",
              "ru",
              "sk",
              "sl",
              "sr",
              "sv",
              "tr",
              "uk",
              "zh",
              "zh-tw"
            ],
            "type": "string",
            "format": "string"
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Wraps return in jsonp callback. Example: callback=func",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "key",
            "in": "query",
            "description": "Your registered API key.",
            "required": true,
            "type": "string",
            "format": "string"
          }
        ],
        "tags": [
          "Current Weather Data"
        ],
        "responses": {
          "200": {
            "description": "An Observation Group object.",
            "schema": {
              "$ref": "#/definitions/CurrentObsGroup"
            }
          },
          "default": {
            "description": "No Data.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/current?stations={stations}": {
      "get": {
        "summary": "Returns a group of observations given a list of stations",
        "description": "**(Advanced/Advanced+/Enterprise plans only)** Returns a group of Current Observations - Given a list of Station Call IDs. ",
        "parameters": [
          {
            "name": "stations",
            "in": "path",
            "description": "Comma separated list of Station Call ID's. Example: KRDU,KBFI,KVNY",
            "required": true,
            "type": "string",
            "format": "string"
          },
          {
            "name": "units",
            "in": "query",
            "description": "Convert to units. Default Metric See <a href='/api/requests'>units field description</a>",
            "required": false,
            "enum": [
              "S",
              "I"
            ],
            "type": "string",
            "format": "string"
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language (Default: English) See <a href='/api/requests'>language field description</a>",
            "required": false,
            "enum": [
              "ar",
              "az",
              "be",
              "bg",
              "bs",
              "ca",
              "cs",
              "de",
              "fi",
              "fr",
              "el",
              "es",
              "et",
              "hr",
              "hu",
              "id",
              "it",
              "is",
              "kw",
              "nb",
              "nl",
              "pl",
              "pt",
              "ro",
              "ru",
              "sk",
              "sl",
              "sr",
              "sv",
              "tr",
              "uk",
              "zh",
              "zh-tw"
            ],
            "type": "string",
            "format": "string"
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Wraps return in jsonp callback. Example: callback=func",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "key",
            "in": "query",
            "description": "Your registered API key.",
            "required": true,
            "type": "string",
            "format": "string"
          }
        ],
        "tags": [
          "Current Weather Data"
        ],
        "responses": {
          "200": {
            "description": "An Observation Group object.",
            "schema": {
              "$ref": "#/definitions/CurrentObsGroup"
            }
          },
          "default": {
            "description": "No Data.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/forecast/3hourly?lat={lat}&lon={lon}": {
      "get": {
        "summary": "Returns a 3-hourly forecast - Given a lat/lon.",
        "description": "Returns a 3-hourly forecast, where each point represents a three hour   period. Every point has a datetime string in the format \"YYYY-MM-DD:HH\". Time is UTC.\n",
        "parameters": [
          {
            "name": "lat",
            "in": "path",
            "description": "Latitude component of location.",
            "required": true,
            "type": "number",
            "format": "double"
          },
          {
            "name": "lon",
            "in": "path",
            "description": "Longitude component of location.",
            "required": true,
            "type": "number",
            "format": "double"
          },
          {
            "name": "days",
            "in": "query",
            "description": "Number of days to return. Default 5.",
            "required": false,
            "type": "number",
            "format": "integer"
          },
          {
            "name": "units",
            "in": "query",
            "description": "Convert to units. Default Metric See <a href='/api/requests'>units field description</a>",
            "required": false,
            "enum": [
              "S",
              "I"
            ],
            "type": "string",
            "format": "string"
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language (Default: English) See <a href='/api/requests'>language field description</a>",
            "required": false,
            "enum": [
              "ar",
              "az",
              "be",
              "bg",
              "bs",
              "ca",
              "cs",
              "de",
              "fi",
              "fr",
              "el",
              "es",
              "et",
              "hr",
              "hu",
              "id",
              "it",
              "is",
              "kw",
              "nb",
              "nl",
              "pl",
              "pt",
              "ro",
              "ru",
              "sk",
              "sl",
              "sr",
              "sv",
              "tr",
              "uk",
              "zh",
              "zh-tw"
            ],
            "type": "string",
            "format": "string"
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Wraps return in jsonp callback. Example - callback=func",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "key",
            "in": "query",
            "description": "Your registered API key.",
            "required": true,
            "type": "string",
            "format": "string"
          }
        ],
        "tags": [
          "5 day / 3 hour Forecast"
        ],
        "responses": {
          "200": {
            "description": "A forecast object.",
            "schema": {
              "$ref": "#/definitions/ForecastHourly"
            }
          },
          "default": {
            "description": "No Data.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/forecast/3hourly?city_id={city_id}": {
      "get": {
        "summary": "Returns a 3-hourly forecast - Given a City ID.",
        "description": "Returns a 3-hourly forecast, where each point represents a three hour   period. Every point has a datetime string in the format \"YYYY-MM-DD:HH\". Time is UTC.\n",
        "parameters": [
          {
            "name": "city_id",
            "in": "path",
            "description": "City ID. Example: 4487042",
            "required": true,
            "type": "integer",
            "format": "integer"
          },
          {
            "name": "days",
            "in": "query",
            "description": "Number of days to return. Default 5.",
            "required": false,
            "type": "number",
            "format": "integer"
          },
          {
            "name": "units",
            "in": "query",
            "description": "Convert to units. Default Metric See <a href='/api/requests'>units field description</a>",
            "required": false,
            "enum": [
              "S",
              "I"
            ],
            "type": "string",
            "format": "string"
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language (Default: English) See <a href='/api/requests'>language field description</a>",
            "required": false,
            "enum": [
              "ar",
              "az",
              "be",
              "bg",
              "bs",
              "ca",
              "cs",
              "de",
              "fi",
              "fr",
              "el",
              "es",
              "et",
              "hr",
              "hu",
              "id",
              "it",
              "is",
              "kw",
              "nb",
              "nl",
              "pl",
              "pt",
              "ro",
              "ru",
              "sk",
              "sl",
              "sr",
              "sv",
              "tr",
              "uk",
              "zh",
              "zh-tw"
            ],
            "type": "string",
            "format": "string"
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Wraps return in jsonp callback. Example: callback=func",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "key",
            "in": "query",
            "description": "Your registered API key.",
            "required": true,
            "type": "string",
            "format": "string"
          }
        ],
        "tags": [
          "5 day / 3 hour Forecast"
        ],
        "responses": {
          "200": {
            "description": "A forecast object.",
            "schema": {
              "$ref": "#/definitions/ForecastHourly"
            }
          },
          "default": {
            "description": "No Data.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/forecast/3hourly?postal_code={postal_code}": {
      "get": {
        "summary": "Returns a 3-hourly forecast - Given a Postal Code.",
        "description": "Returns a 3-hourly forecast, where each point represents a three hour period. Every point has a datetime string in the format \"YYYY-MM-DD:HH\". Time is UTC.\n",
        "parameters": [
          {
            "name": "postal_code",
            "in": "path",
            "description": "Postal Code. Example: 28546",
            "required": true,
            "type": "integer",
            "format": "integer"
          },
          {
            "name": "country",
            "in": "query",
            "description": "Country Code (2 letter).",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "days",
            "in": "query",
            "description": "Number of days to return. Default 5.",
            "required": false,
            "type": "number",
            "format": "integer"
          },
          {
            "name": "units",
            "in": "query",
            "description": "Convert to units. Default Metric See <a href='/api/requests'>units field description</a>",
            "required": false,
            "enum": [
              "S",
              "I"
            ],
            "type": "string",
            "format": "string"
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language (Default: English) See <a href='/api/requests'>language field description</a>",
            "required": false,
            "enum": [
              "ar",
              "az",
              "be",
              "bg",
              "bs",
              "ca",
              "cs",
              "de",
              "fi",
              "fr",
              "el",
              "es",
              "et",
              "hr",
              "hu",
              "id",
              "it",
              "is",
              "kw",
              "nb",
              "nl",
              "pl",
              "pt",
              "ro",
              "ru",
              "sk",
              "sl",
              "sr",
              "sv",
              "tr",
              "uk",
              "zh",
              "zh-tw"
            ],
            "type": "string",
            "format": "string"
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Wraps return in jsonp callback. Example: callback=func",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "key",
            "in": "query",
            "description": "Your registered API key.",
            "required": true,
            "type": "string",
            "format": "string"
          }
        ],
        "tags": [
          "5 day / 3 hour Forecast"
        ],
        "responses": {
          "200": {
            "description": "A forecast object.",
            "schema": {
              "$ref": "#/definitions/ForecastHourly"
            }
          },
          "default": {
            "description": "No Data.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/forecast/3hourly?city={city}&country={country}": {
      "get": {
        "summary": "Returns a 3-hourly forecast - Given City and/or State, Country.",
        "description": "Returns a 3-hourly forecast, where each point represents a three hour   period. Every point has a datetime string in the format \"YYYY-MM-DD:HH\". Time is UTC.\n",
        "parameters": [
          {
            "name": "city",
            "in": "path",
            "description": "City search.. Example - &city=Raleigh,NC or &city=Berlin,DE or city=Paris&country=FR",
            "required": true,
            "type": "string",
            "format": "string"
          },
          {
            "name": "state",
            "in": "query",
            "description": "Full name of state.",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "country",
            "in": "path",
            "description": "Country Code (2 letter).",
            "required": true,
            "type": "string",
            "format": "string"
          },
          {
            "name": "days",
            "in": "query",
            "description": "Number of days to return. Default 5.",
            "required": false,
            "type": "number",
            "format": "integer"
          },
          {
            "name": "units",
            "in": "query",
            "description": "Convert to units. Default Metric See <a href='/api/requests'>units field description</a>",
            "required": false,
            "enum": [
              "S",
              "I"
            ],
            "type": "string",
            "format": "string"
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language (Default: English) See <a href='/api/requests'>language field description</a>",
            "required": false,
            "enum": [
              "ar",
              "az",
              "be",
              "bg",
              "bs",
              "ca",
              "cs",
              "de",
              "fi",
              "fr",
              "el",
              "es",
              "et",
              "hr",
              "hu",
              "id",
              "it",
              "is",
              "kw",
              "nb",
              "nl",
              "pl",
              "pt",
              "ro",
              "ru",
              "sk",
              "sl",
              "sr",
              "sv",
              "tr",
              "uk",
              "zh",
              "zh-tw"
            ],
            "type": "string",
            "format": "string"
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Wraps return in jsonp callback. Example - callback=func",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "key",
            "in": "query",
            "description": "Your registered API key.",
            "required": true,
            "type": "string",
            "format": "string"
          }
        ],
        "tags": [
          "5 day / 3 hour Forecast"
        ],
        "responses": {
          "200": {
            "description": "A forecast object.",
            "schema": {
              "$ref": "#/definitions/ForecastHourly"
            }
          },
          "default": {
            "description": "No Data.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/forecast/3hourly?ip={ip}": {
      "get": {
        "summary": "Returns a 3hourly forecast - Given an IP Address, or ip=auto for automatic IP lookup.",
        "description": "Returns a 3-hourly forecast, where each point represents a three hour   period. Every point has a datetime string in the format \"YYYY-MM-DD:HH\". Time is UTC.\n",
        "parameters": [
          {
            "name": "ip",
            "in": "path",
            "description": "IP address, or auto. Example: ip=auto",
            "required": true,
            "type": "string",
            "format": "string"
          },
          {
            "name": "days",
            "in": "query",
            "description": "Number of days to return. Default 16.",
            "required": false,
            "type": "number",
            "format": "integer"
          },
          {
            "name": "units",
            "in": "query",
            "description": "Convert to units. Default Metric See <a href='/api/requests'>units field description</a>",
            "required": false,
            "enum": [
              "S",
              "I"
            ],
            "type": "string",
            "format": "string"
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language (Default: English) See <a href='/api/requests'>language field description</a>",
            "required": false,
            "enum": [
              "ar",
              "az",
              "be",
              "bg",
              "bs",
              "ca",
              "cs",
              "de",
              "fi",
              "fr",
              "el",
              "es",
              "et",
              "hr",
              "hu",
              "id",
              "it",
              "is",
              "kw",
              "nb",
              "nl",
              "pl",
              "pt",
              "ro",
              "ru",
              "sk",
              "sl",
              "sr",
              "sv",
              "tr",
              "uk",
              "zh",
              "zh-tw"
            ],
            "type": "string",
            "format": "string"
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Wraps return in jsonp callback. Example: callback=func",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "key",
            "in": "query",
            "description": "Your registered API key.",
            "required": true,
            "type": "string",
            "format": "string"
          }
        ],
        "tags": [
          "5 day / 3 hour Forecast"
        ],
        "responses": {
          "200": {
            "description": "A forecast object.",
            "schema": {
              "$ref": "#/definitions/ForecastHourly"
            }
          },
          "default": {
            "description": "No Data.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/forecast/daily?lat={lat}&lon={lon}": {
      "get": {
        "summary": "Returns a daily forecast - Given Lat/Lon.",
        "description": "**(REQUIRED: Basic Plan or Higher)** Returns a daily forecast, where each point represents one day (24hr) period. Every point has a datetime string in the format \"YYYY-MM-DD\". One day begins at 00:00 UTC, and ends at 23:59 UTC. \n",
        "parameters": [
          {
            "name": "lat",
            "in": "path",
            "description": "Latitude component of location.",
            "required": true,
            "type": "number",
            "format": "double"
          },
          {
            "name": "lon",
            "in": "path",
            "description": "Longitude component of location.",
            "required": true,
            "type": "number",
            "format": "double"
          },
          {
            "name": "days",
            "in": "query",
            "description": "Number of days to return. Default 16.",
            "required": false,
            "type": "number",
            "format": "integer"
          },
          {
            "name": "units",
            "in": "query",
            "description": "Convert to units. Default Metric See <a href='/api/requests'>units field description</a>",
            "required": false,
            "enum": [
              "S",
              "I"
            ],
            "type": "string",
            "format": "string"
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language (Default: English) See <a href='/api/requests'>language field description</a>",
            "required": false,
            "enum": [
              "ar",
              "az",
              "be",
              "bg",
              "bs",
              "ca",
              "cs",
              "de",
              "fi",
              "fr",
              "el",
              "es",
              "et",
              "hr",
              "hu",
              "id",
              "it",
              "is",
              "kw",
              "nb",
              "nl",
              "pl",
              "pt",
              "ro",
              "ru",
              "sk",
              "sl",
              "sr",
              "sv",
              "tr",
              "uk",
              "zh",
              "zh-tw"
            ],
            "type": "string",
            "format": "string"
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Wraps return in jsonp callback. Example: callback=func",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "key",
            "in": "query",
            "description": "Your registered API key.",
            "required": true,
            "type": "string",
            "format": "string"
          }
        ],
        "tags": [
          "16 day / daily Forecast"
        ],
        "responses": {
          "200": {
            "description": "A forecast object.",
            "schema": {
              "$ref": "#/definitions/ForecastDay"
            }
          },
          "default": {
            "description": "No Data.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/forecast/daily?city_id={city_id}": {
      "get": {
        "summary": "Returns a daily forecast - Given a City ID.",
        "description": "**(REQUIRED: Basic Plan or Higher)** Returns a daily forecast, where each point represents one day (24hr) period. Every point has a datetime string in the format \"YYYY-MM-DD\". One day begins at 00:00 UTC, and ends at 23:59 UTC.\n",
        "parameters": [
          {
            "name": "city_id",
            "in": "path",
            "description": "City ID. Example: 4487042",
            "required": true,
            "type": "integer",
            "format": "integer"
          },
          {
            "name": "days",
            "in": "query",
            "description": "Number of days to return. Default 16.",
            "required": false,
            "type": "number",
            "format": "integer"
          },
          {
            "name": "units",
            "in": "query",
            "description": "Convert to units. Default Metric See <a href='/api/requests'>units field description</a>",
            "required": false,
            "enum": [
              "S",
              "I"
            ],
            "type": "string",
            "format": "string"
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language (Default: English) See <a href='/api/requests'>language field description</a>",
            "required": false,
            "enum": [
              "ar",
              "az",
              "be",
              "bg",
              "bs",
              "ca",
              "cs",
              "de",
              "fi",
              "fr",
              "el",
              "es",
              "et",
              "hr",
              "hu",
              "id",
              "it",
              "is",
              "kw",
              "nb",
              "nl",
              "pl",
              "pt",
              "ro",
              "ru",
              "sk",
              "sl",
              "sr",
              "sv",
              "tr",
              "uk",
              "zh",
              "zh-tw"
            ],
            "type": "string",
            "format": "string"
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Wraps return in jsonp callback. Example: callback=func",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "key",
            "in": "query",
            "description": "Your registered API key.",
            "required": true,
            "type": "string",
            "format": "string"
          }
        ],
        "tags": [
          "16 day / daily Forecast"
        ],
        "responses": {
          "200": {
            "description": "A forecast object.",
            "schema": {
              "$ref": "#/definitions/ForecastDay"
            }
          },
          "default": {
            "description": "No Data.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/forecast/daily?postal_code={postal_code}": {
      "get": {
        "summary": "Returns a daily forecast - Given a Postal Code.",
        "description": "**(REQUIRED: Basic Plan or Higher)** Returns a daily forecast, where each point represents one day (24hr) period. Every point has a datetime string in the format \"YYYY-MM-DD\". One day begins at 00:00 UTC, and ends at 23:59 UTC.\n",
        "parameters": [
          {
            "name": "postal_code",
            "in": "path",
            "description": "Postal Code. Example: 28546",
            "required": true,
            "type": "integer",
            "format": "integer"
          },
          {
            "name": "country",
            "in": "query",
            "description": "Country Code (2 letter).",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "days",
            "in": "query",
            "description": "Number of days to return. Default 16.",
            "required": false,
            "type": "number",
            "format": "integer"
          },
          {
            "name": "units",
            "in": "query",
            "description": "Convert to units. Default Metric See <a href='/api/requests'>units field description</a>",
            "required": false,
            "enum": [
              "S",
              "I"
            ],
            "type": "string",
            "format": "string"
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language (Default: English) See <a href='/api/requests'>language field description</a>",
            "required": false,
            "enum": [
              "ar",
              "az",
              "be",
              "bg",
              "bs",
              "ca",
              "cs",
              "de",
              "fi",
              "fr",
              "el",
              "es",
              "et",
              "hr",
              "hu",
              "id",
              "it",
              "is",
              "kw",
              "nb",
              "nl",
              "pl",
              "pt",
              "ro",
              "ru",
              "sk",
              "sl",
              "sr",
              "sv",
              "tr",
              "uk",
              "zh",
              "zh-tw"
            ],
            "type": "string",
            "format": "string"
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Wraps return in jsonp callback. Example: callback=func",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "key",
            "in": "query",
            "description": "Your registered API key.",
            "required": true,
            "type": "string",
            "format": "string"
          }
        ],
        "tags": [
          "16 day / daily Forecast"
        ],
        "responses": {
          "200": {
            "description": "A forecast object.",
            "schema": {
              "$ref": "#/definitions/ForecastDay"
            }
          },
          "default": {
            "description": "No Data.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/forecast/daily?city={city}&country={country}": {
      "get": {
        "summary": "Returns a daily forecast - Given City and/or State, Country.",
        "description": "**(REQUIRED: Basic Plan or Higher)** Returns a daily forecast, where each point represents one day (24hr) period. Every point has a datetime string in the format \"YYYY-MM-DD\". One day begins at 00:00 UTC, and ends at 23:59 UTC. Accepts a city in the format of City,ST or City. The state, and country parameters can be provided to make the search more accurate.\n",
        "parameters": [
          {
            "name": "city",
            "in": "path",
            "description": "City search.. Example - &city=Raleigh,NC or &city=Berlin,DE or city=Paris&country=FR",
            "required": true,
            "type": "string",
            "format": "string"
          },
          {
            "name": "state",
            "in": "query",
            "description": "Full name of state.",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "country",
            "in": "path",
            "description": "Country Code (2 letter).",
            "required": true,
            "type": "string",
            "format": "string"
          },
          {
            "name": "days",
            "in": "query",
            "description": "Number of days to return. Default 16.",
            "required": false,
            "type": "number",
            "format": "integer"
          },
          {
            "name": "units",
            "in": "query",
            "description": "Convert to units. Default Metric See <a href='/api/requests'>units field description</a>",
            "required": false,
            "enum": [
              "S",
              "I"
            ],
            "type": "string",
            "format": "string"
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language (Default: English) See <a href='/api/requests'>language field description</a>",
            "required": false,
            "enum": [
              "ar",
              "az",
              "be",
              "bg",
              "bs",
              "ca",
              "cs",
              "de",
              "fi",
              "fr",
              "el",
              "es",
              "et",
              "hr",
              "hu",
              "id",
              "it",
              "is",
              "kw",
              "nb",
              "nl",
              "pl",
              "pt",
              "ro",
              "ru",
              "sk",
              "sl",
              "sr",
              "sv",
              "tr",
              "uk",
              "zh",
              "zh-tw"
            ],
            "type": "string",
            "format": "string"
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Wraps return in jsonp callback. Example - callback=func",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "key",
            "in": "query",
            "description": "Your registered API key.",
            "required": true,
            "type": "string",
            "format": "string"
          }
        ],
        "tags": [
          "16 day / daily Forecast"
        ],
        "responses": {
          "200": {
            "description": "A forecast object.",
            "schema": {
              "$ref": "#/definitions/ForecastDay"
            }
          },
          "default": {
            "description": "No Data.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/forecast/daily?ip={ip}": {
      "get": {
        "summary": "Returns a daily forecast - Given an IP Address, or ip=auto for automatic IP lookup.",
        "description": "**(REQUIRED: Basic Plan or Higher)** Returns a daily forecast, where each point represents one day (24hr) period. Every point has a datetime string in the format \"YYYY-MM-DD\". One day begins at 00:00 UTC, and ends at 23:59 UTC. \n",
        "parameters": [
          {
            "name": "ip",
            "in": "path",
            "description": "IP address, or auto. Example: ip=auto",
            "required": true,
            "type": "string",
            "format": "string"
          },
          {
            "name": "days",
            "in": "query",
            "description": "Number of days to return. Default 16.",
            "required": false,
            "type": "number",
            "format": "integer"
          },
          {
            "name": "units",
            "in": "query",
            "description": "Convert to units. Default Metric See <a href='/api/requests'>units field description</a>",
            "required": false,
            "enum": [
              "S",
              "I"
            ],
            "type": "string",
            "format": "string"
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language (Default: English) See <a href='/api/requests'>language field description</a>",
            "required": false,
            "enum": [
              "ar",
              "az",
              "be",
              "bg",
              "bs",
              "ca",
              "cs",
              "de",
              "fi",
              "fr",
              "el",
              "es",
              "et",
              "hr",
              "hu",
              "id",
              "it",
              "is",
              "kw",
              "nb",
              "nl",
              "pl",
              "pt",
              "ro",
              "ru",
              "sk",
              "sl",
              "sr",
              "sv",
              "tr",
              "uk",
              "zh",
              "zh-tw"
            ],
            "type": "string",
            "format": "string"
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Wraps return in jsonp callback. Example: callback=func",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "key",
            "in": "query",
            "description": "Your registered API key.",
            "required": true,
            "type": "string",
            "format": "string"
          }
        ],
        "tags": [
          "16 day / daily Forecast"
        ],
        "responses": {
          "200": {
            "description": "A forecast object.",
            "schema": {
              "$ref": "#/definitions/ForecastDay"
            }
          },
          "default": {
            "description": "No Data.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/forecast/hourly?lat={lat}&lon={lon}": {
      "get": {
        "summary": "Returns 48 hour (hourly) forecast - Given a lat/lon.",
        "description": "**(REQUIRED: Developer Plan or Higher)** Returns an hourly forecast, where each point represents a one hour period. Every point has a datetime string in the format \"YYYY-MM-DD:HH\". Time is UTC. \n",
        "parameters": [
          {
            "name": "lat",
            "in": "path",
            "description": "Latitude component of location.",
            "required": true,
            "type": "number",
            "format": "double"
          },
          {
            "name": "lon",
            "in": "path",
            "description": "Longitude component of location.",
            "required": true,
            "type": "number",
            "format": "double"
          },
          {
            "name": "units",
            "in": "query",
            "description": "Convert to units. Default Metric See <a href='/api/requests'>units field description</a>",
            "required": false,
            "enum": [
              "S",
              "I"
            ],
            "type": "string",
            "format": "string"
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language (Default: English) See <a href='/api/requests'>language field description</a>",
            "required": false,
            "enum": [
              "ar",
              "az",
              "be",
              "bg",
              "bs",
              "ca",
              "cs",
              "de",
              "fi",
              "fr",
              "el",
              "es",
              "et",
              "hr",
              "hu",
              "id",
              "it",
              "is",
              "kw",
              "nb",
              "nl",
              "pl",
              "pt",
              "ro",
              "ru",
              "sk",
              "sl",
              "sr",
              "sv",
              "tr",
              "uk",
              "zh",
              "zh-tw"
            ],
            "type": "string",
            "format": "string"
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Wraps return in jsonp callback. Example - callback=func",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "key",
            "in": "query",
            "description": "Your registered API key.",
            "required": true,
            "type": "string",
            "format": "string"
          },
          {
            "name": "hours",
            "in": "query",
            "description": "Number of hours to return.",
            "required": false,
            "type": "integer",
            "format": "integer"
          }
        ],
        "tags": [
          "48 hour / hourly Forecast"
        ],
        "responses": {
          "200": {
            "description": "A forecast object.",
            "schema": {
              "$ref": "#/definitions/ForecastHourly"
            }
          },
          "default": {
            "description": "No Data.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/forecast/hourly?city_id={city_id}": {
      "get": {
        "summary": "Returns a 48 hour (hourly) forecast - Given a City ID.",
        "description": "**(REQUIRED: Developer Plan or Higher)** Returns an hourly forecast, where each point represents a one hour   period. Every point has a datetime string in the format \"YYYY-MM-DD:HH\". Time is UTC. \n",
        "parameters": [
          {
            "name": "city_id",
            "in": "path",
            "description": "City ID. Example: 4487042",
            "required": true,
            "type": "integer",
            "format": "integer"
          },
          {
            "name": "units",
            "in": "query",
            "description": "Convert to units. Default Metric See <a href='/api/requests'>units field description</a>",
            "required": false,
            "enum": [
              "S",
              "I"
            ],
            "type": "string",
            "format": "string"
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language (Default: English) See <a href='/api/requests'>language field description</a>",
            "required": false,
            "enum": [
              "ar",
              "az",
              "be",
              "bg",
              "bs",
              "ca",
              "cs",
              "de",
              "fi",
              "fr",
              "el",
              "es",
              "et",
              "hr",
              "hu",
              "id",
              "it",
              "is",
              "kw",
              "nb",
              "nl",
              "pl",
              "pt",
              "ro",
              "ru",
              "sk",
              "sl",
              "sr",
              "sv",
              "tr",
              "uk",
              "zh",
              "zh-tw"
            ],
            "type": "string",
            "format": "string"
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Wraps return in jsonp callback. Example - callback=func",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "hours",
            "in": "query",
            "description": "Number of hours to return.",
            "required": false,
            "type": "integer",
            "format": "integer"
          },
          {
            "name": "key",
            "in": "query",
            "description": "Your registered API key.",
            "required": true,
            "type": "string",
            "format": "string"
          }
        ],
        "tags": [
          "48 hour / hourly Forecast"
        ],
        "responses": {
          "200": {
            "description": "A forecast object.",
            "schema": {
              "$ref": "#/definitions/ForecastHourly"
            }
          },
          "default": {
            "description": "No Data.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/forecast/hourly?postal_code={postal_code}": {
      "get": {
        "summary": "Returns a 48 hour (hourly) forecast - Given a Postal Code.",
        "description": "**(REQUIRED: Developer Plan or Higher)** Returns an hourly forecast, where each point represents a one hour   period. Every point has a datetime string in the format \"YYYY-MM-DD:HH\". Time is UTC. \n",
        "parameters": [
          {
            "name": "postal_code",
            "in": "path",
            "description": "Postal Code. Example: 28546",
            "required": true,
            "type": "integer",
            "format": "integer"
          },
          {
            "name": "country",
            "in": "query",
            "description": "Country Code (2 letter).",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "units",
            "in": "query",
            "description": "Convert to units. Default Metric See <a href='/api/requests'>units field description</a>",
            "required": false,
            "enum": [
              "S",
              "I"
            ],
            "type": "string",
            "format": "string"
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language (Default: English) See <a href='/api/requests'>language field description</a>",
            "required": false,
            "enum": [
              "ar",
              "az",
              "be",
              "bg",
              "bs",
              "ca",
              "cs",
              "de",
              "fi",
              "fr",
              "el",
              "es",
              "et",
              "hr",
              "hu",
              "id",
              "it",
              "is",
              "kw",
              "nb",
              "nl",
              "pl",
              "pt",
              "ro",
              "ru",
              "sk",
              "sl",
              "sr",
              "sv",
              "tr",
              "uk",
              "zh",
              "zh-tw"
            ],
            "type": "string",
            "format": "string"
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Wraps return in jsonp callback. Example - callback=func",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "hours",
            "in": "query",
            "description": "Number of hours to return.",
            "required": false,
            "type": "integer",
            "format": "integer"
          },
          {
            "name": "key",
            "in": "query",
            "description": "Your registered API key.",
            "required": true,
            "type": "string",
            "format": "string"
          }
        ],
        "tags": [
          "48 hour / hourly Forecast"
        ],
        "responses": {
          "200": {
            "description": "A forecast object.",
            "schema": {
              "$ref": "#/definitions/ForecastHourly"
            }
          },
          "default": {
            "description": "No Data.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/forecast/hourly?city={city}&country={country}": {
      "get": {
        "summary": "Returns an 48 hour (hourly forecast) - Given City and/or State, Country.",
        "description": "**(REQUIRED: Developer Plan or Higher)** Returns an hourly forecast, where each point represents a one hour   period. Every point has a datetime string in the format \"YYYY-MM-DD:HH\". Time is UTC. Accepts a city in the format of City,ST or City. The state, and country parameters can be provided to make the search more accurate.\n",
        "parameters": [
          {
            "name": "city",
            "in": "path",
            "description": "City search.. Example - &city=Raleigh,NC or &city=Berlin,DE or city=Paris&country=FR",
            "required": true,
            "type": "string",
            "format": "string"
          },
          {
            "name": "state",
            "in": "query",
            "description": "Full name of state.",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "country",
            "in": "path",
            "description": "Country Code (2 letter).",
            "required": true,
            "type": "string",
            "format": "string"
          },
          {
            "name": "units",
            "in": "query",
            "description": "Convert to units. Default Metric See <a href='/api/requests'>units field description</a>",
            "required": false,
            "enum": [
              "S",
              "I"
            ],
            "type": "string",
            "format": "string"
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language (Default: English) See <a href='/api/requests'>language field description</a>",
            "required": false,
            "enum": [
              "ar",
              "az",
              "be",
              "bg",
              "bs",
              "ca",
              "cs",
              "de",
              "fi",
              "fr",
              "el",
              "es",
              "et",
              "hr",
              "hu",
              "id",
              "it",
              "is",
              "kw",
              "nb",
              "nl",
              "pl",
              "pt",
              "ro",
              "ru",
              "sk",
              "sl",
              "sr",
              "sv",
              "tr",
              "uk",
              "zh",
              "zh-tw"
            ],
            "type": "string",
            "format": "string"
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Wraps return in jsonp callback. Example: callback=func",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "hours",
            "in": "query",
            "description": "Number of hours to return.",
            "required": false,
            "type": "integer",
            "format": "integer"
          },
          {
            "name": "key",
            "in": "query",
            "description": "Your registered API key.",
            "required": true,
            "type": "string",
            "format": "string"
          }
        ],
        "tags": [
          "48 hour / hourly Forecast"
        ],
        "responses": {
          "200": {
            "description": "A forecast object.",
            "schema": {
              "$ref": "#/definitions/ForecastHourly"
            }
          },
          "default": {
            "description": "No Data.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/ip?ip={ip}": {
      "get": {
        "summary": "Returns an Geolocation object.",
        "description": "Returns a geolocation object. Given an IP address. If no IP supplied, will use request IP address.",
        "parameters": [
          {
            "name": "ip",
            "in": "path",
            "description": "IP address",
            "required": true,
            "type": "string",
            "format": "string"
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Wraps return in jsonp callback",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "exclude",
            "in": "query",
            "description": "exclude=all => return IP address only",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "format",
            "in": "query",
            "description": "&format=none => return IP address as string",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "key",
            "in": "query",
            "description": "Your registered API key.",
            "required": true,
            "type": "string",
            "format": "string"
          }
        ],
        "tags": [
          "IP Geolocation API"
        ],
        "responses": {
          "200": {
            "description": "A geolocation object.",
            "schema": {
              "$ref": "#/definitions/GeoIPObj"
            }
          },
          "default": {
            "description": "No Data.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/forecast/hourly?ip={ip}": {
      "get": {
        "summary": "Returns a hourly forecast - Given an IP Address, or ip=auto for automatic IP lookup.",
        "description": "**(REQUIRED: Developer Plan or Higher)** Returns an hourly forecast, where each point represents a one hour period. Every point has a datetime string in the format \"YYYY-MM-DD:HH\". Time is UTC. \n",
        "parameters": [
          {
            "name": "ip",
            "in": "path",
            "description": "IP address, or auto. Example: ip=auto",
            "required": true,
            "type": "string",
            "format": "string"
          },
          {
            "name": "days",
            "in": "query",
            "description": "Number of days to return. Default 16.",
            "required": false,
            "type": "number",
            "format": "integer"
          },
          {
            "name": "units",
            "in": "query",
            "description": "Convert to units. Default Metric See <a href='/api/requests'>units field description</a>",
            "required": false,
            "enum": [
              "S",
              "I"
            ],
            "type": "string",
            "format": "string"
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language (Default: English) See <a href='/api/requests'>language field description</a>",
            "required": false,
            "enum": [
              "ar",
              "az",
              "be",
              "bg",
              "bs",
              "ca",
              "cs",
              "de",
              "fi",
              "fr",
              "el",
              "es",
              "et",
              "hr",
              "hu",
              "id",
              "it",
              "is",
              "kw",
              "nb",
              "nl",
              "pl",
              "pt",
              "ro",
              "ru",
              "sk",
              "sl",
              "sr",
              "sv",
              "tr",
              "uk",
              "zh",
              "zh-tw"
            ],
            "type": "string",
            "format": "string"
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Wraps return in jsonp callback. Example: callback=func",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "hours",
            "in": "query",
            "description": "Number of hours to return.",
            "required": false,
            "type": "integer",
            "format": "integer"
          },
          {
            "name": "key",
            "in": "query",
            "description": "Your registered API key.",
            "required": true,
            "type": "string",
            "format": "string"
          }
        ],
        "tags": [
          "48 hour / hourly Forecast"
        ],
        "responses": {
          "200": {
            "description": "A forecast object.",
            "schema": {
              "$ref": "#/definitions/ForecastHourly"
            }
          },
          "default": {
            "description": "No Data.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/history/daily?lat={lat}&lon={lon}": {
      "get": {
        "summary": "Returns Historical Observations - Given a lat/lon.",
        "description": "Returns Historical Observations - Given a lat, and lon. **(LIMIT 1 day for Low Volume plans. LIMIT 7 days for Basic/Developer. LIMIT 30 days for Advanced/Advanced+/Enterprise)**",
        "parameters": [
          {
            "name": "lat",
            "in": "path",
            "description": "Latitude component of location.",
            "required": true,
            "type": "number",
            "format": "double"
          },
          {
            "name": "lon",
            "in": "path",
            "description": "Longitude component of location.",
            "required": true,
            "type": "number",
            "format": "double"
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "Start Date (YYYY-MM-DD or YYYY-MM-DD:HH).",
            "required": true,
            "type": "string",
            "format": "string"
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "End Date (YYYY-MM-DD or YYYY-MM-DD:HH).",
            "required": true,
            "type": "string",
            "format": "string"
          },
          {
            "name": "units",
            "in": "query",
            "description": "Convert to units. Default Metric See <a href='/api/requests'>units field description</a>",
            "required": false,
            "enum": [
              "S",
              "I"
            ],
            "type": "string",
            "format": "string"
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language (Default: English) See <a href='/api/requests'>language field description</a>",
            "required": false,
            "enum": [
              "ar",
              "az",
              "be",
              "bg",
              "bs",
              "ca",
              "cs",
              "de",
              "fi",
              "fr",
              "el",
              "es",
              "et",
              "hr",
              "hu",
              "id",
              "it",
              "is",
              "kw",
              "nb",
              "nl",
              "pl",
              "pt",
              "ro",
              "ru",
              "sk",
              "sl",
              "sr",
              "sv",
              "tr",
              "uk",
              "zh",
              "zh-tw"
            ],
            "type": "string",
            "format": "string"
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Wraps return in jsonp callback. Example: callback=func",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "key",
            "in": "query",
            "description": "Your registered API key.",
            "required": true,
            "type": "string",
            "format": "string"
          }
        ],
        "tags": [
          "Daily Historical Weather Data"
        ],
        "responses": {
          "200": {
            "description": "An Historical Day Data Object.",
            "schema": {
              "$ref": "#/definitions/HistoryDay"
            }
          },
          "default": {
            "description": "No Data.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/history/daily?city_id={city_id}": {
      "get": {
        "summary": "Returns Historical Observations - Given a City ID",
        "description": "Returns Historical Observations - Given a City ID. **(LIMIT 1 day for Low Volume plans. LIMIT 7 days for Basic/Developer. LIMIT 30 days for Advanced/Advanced+/Enterprise)**",
        "parameters": [
          {
            "name": "city_id",
            "in": "path",
            "description": "City ID. Example: 4487042",
            "required": true,
            "type": "string",
            "format": "string"
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "Start Date (YYYY-MM-DD or YYYY-MM-DD:HH)",
            "required": true,
            "type": "string",
            "format": "string"
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "End Date (YYYY-MM-DD or YYYY-MM-DD:HH)",
            "required": true,
            "type": "string",
            "format": "string"
          },
          {
            "name": "units",
            "in": "query",
            "description": "Convert to units. Default Metric See <a href='/api/requests'>units field description</a>",
            "required": false,
            "enum": [
              "S",
              "I"
            ],
            "type": "string",
            "format": "string"
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language (Default: English) See <a href='/api/requests'>language field description</a>",
            "required": false,
            "enum": [
              "ar",
              "az",
              "be",
              "bg",
              "bs",
              "ca",
              "cs",
              "de",
              "fi",
              "fr",
              "el",
              "es",
              "et",
              "hr",
              "hu",
              "id",
              "it",
              "is",
              "kw",
              "nb",
              "nl",
              "pl",
              "pt",
              "ro",
              "ru",
              "sk",
              "sl",
              "sr",
              "sv",
              "tr",
              "uk",
              "zh",
              "zh-tw"
            ],
            "type": "string",
            "format": "string"
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Wraps return in jsonp callback. Example: callback=func",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "key",
            "in": "query",
            "description": "Your registered API key.",
            "required": true,
            "type": "string",
            "format": "string"
          }
        ],
        "tags": [
          "Daily Historical Weather Data"
        ],
        "responses": {
          "200": {
            "description": "An Historical Day Data Object.",
            "schema": {
              "$ref": "#/definitions/HistoryDay"
            }
          },
          "default": {
            "description": "No Data.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/history/daily?postal_code={postal_code}": {
      "get": {
        "summary": "Returns Historical Observations - Given a Postal Code",
        "description": "Returns Historical Observations - Given a Postal Code. **(LIMIT 1 day for Low Volume plans. LIMIT 7 days for Basic/Developer. LIMIT 30 days for Advanced/Advanced+/Enterprise)**",
        "parameters": [
          {
            "name": "postal_code",
            "in": "path",
            "description": "Postal Code. Example: 28546",
            "required": true,
            "type": "string",
            "format": "string"
          },
          {
            "name": "country",
            "in": "query",
            "description": "Country Code (2 letter).",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "Start Date (YYYY-MM-DD or YYYY-MM-DD:HH)",
            "required": true,
            "type": "string",
            "format": "string"
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "End Date (YYYY-MM-DD or YYYY-MM-DD:HH)",
            "required": true,
            "type": "string",
            "format": "string"
          },
          {
            "name": "units",
            "in": "query",
            "description": "Convert to units. Default Metric See <a href='/api/requests'>units field description</a>",
            "required": false,
            "enum": [
              "S",
              "I"
            ],
            "type": "string",
            "format": "string"
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language (Default: English) See <a href='/api/requests'>language field description</a>",
            "required": false,
            "enum": [
              "ar",
              "az",
              "be",
              "bg",
              "bs",
              "ca",
              "cs",
              "de",
              "fi",
              "fr",
              "el",
              "es",
              "et",
              "hr",
              "hu",
              "id",
              "it",
              "is",
              "kw",
              "nb",
              "nl",
              "pl",
              "pt",
              "ro",
              "ru",
              "sk",
              "sl",
              "sr",
              "sv",
              "tr",
              "uk",
              "zh",
              "zh-tw"
            ],
            "type": "string",
            "format": "string"
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Wraps return in jsonp callback. Example: callback=func",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "key",
            "in": "query",
            "description": "Your registered API key.",
            "required": true,
            "type": "string",
            "format": "string"
          }
        ],
        "tags": [
          "Daily Historical Weather Data"
        ],
        "responses": {
          "200": {
            "description": "An Historical Day Data Object.",
            "schema": {
              "$ref": "#/definitions/HistoryDay"
            }
          },
          "default": {
            "description": "No Data.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/history/daily?city={city}&country={country}": {
      "get": {
        "summary": "Returns Historical Observations - Given City and/or State, Country.",
        "description": "Returns Historical Observations - Given a city in the format of City,ST or City. The state, and country parameters can be provided to make the search more accurate. **(LIMIT 1 day for Low Volume plans. LIMIT 7 days for Basic/Developer. LIMIT 30 days for Advanced/Advanced+/Enterprise)**",
        "parameters": [
          {
            "name": "city",
            "in": "path",
            "description": "City search.. Example - &city=Raleigh,NC or &city=Berlin,DE or city=Paris&country=FR",
            "required": true,
            "type": "string",
            "format": "string"
          },
          {
            "name": "state",
            "in": "query",
            "description": "Full name of state.",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "country",
            "in": "path",
            "description": "Country Code (2 letter).",
            "required": true,
            "type": "string",
            "format": "string"
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "Start Date (YYYY-MM-DD or YYYY-MM-DD:HH).",
            "required": true,
            "type": "string",
            "format": "string"
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "End Date (YYYY-MM-DD or YYYY-MM-DD:HH).",
            "required": true,
            "type": "string",
            "format": "string"
          },
          {
            "name": "units",
            "in": "query",
            "description": "Convert to units. Default Metric See <a href='/api/requests'>units field description</a>",
            "required": false,
            "enum": [
              "S",
              "I"
            ],
            "type": "string",
            "format": "string"
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language (Default: English) See <a href='/api/requests'>language field description</a>",
            "required": false,
            "enum": [
              "ar",
              "az",
              "be",
              "bg",
              "bs",
              "ca",
              "cs",
              "de",
              "fi",
              "fr",
              "el",
              "es",
              "et",
              "hr",
              "hu",
              "id",
              "it",
              "is",
              "kw",
              "nb",
              "nl",
              "pl",
              "pt",
              "ro",
              "ru",
              "sk",
              "sl",
              "sr",
              "sv",
              "tr",
              "uk",
              "zh",
              "zh-tw"
            ],
            "type": "string",
            "format": "string"
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Wraps return in jsonp callback. Example: callback=func",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "key",
            "in": "query",
            "description": "Your registered API key.",
            "required": true,
            "type": "string",
            "format": "string"
          }
        ],
        "tags": [
          "Daily Historical Weather Data"
        ],
        "responses": {
          "200": {
            "description": "An Historical Day Data Object.",
            "schema": {
              "$ref": "#/definitions/HistoryDay"
            }
          },
          "default": {
            "description": "No Data.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/history/daily?ip={ip}": {
      "get": {
        "summary": "Returns Historical Observations - Given IP Address, or auto.",
        "description": "Returns Historical Observations - Given IP Address, or auto. **(LIMIT 1 day for Low Volume plans. LIMIT 7 days for Basic/Developer. LIMIT 30 days for Advanced/Advanced+/Enterprise)**",
        "parameters": [
          {
            "name": "ip",
            "in": "path",
            "description": "IP Address, or auto. Example: ip=auto",
            "required": true,
            "type": "string",
            "format": "string"
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "Start Date (YYYY-MM-DD or YYYY-MM-DD:HH).",
            "required": true,
            "type": "string",
            "format": "string"
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "End Date (YYYY-MM-DD or YYYY-MM-DD:HH).",
            "required": true,
            "type": "string",
            "format": "string"
          },
          {
            "name": "units",
            "in": "query",
            "description": "Convert to units. Default Metric See <a href='/api/requests'>units field description</a>",
            "required": false,
            "enum": [
              "S",
              "I"
            ],
            "type": "string",
            "format": "string"
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language (Default: English) See <a href='/api/requests'>language field description</a>",
            "required": false,
            "enum": [
              "ar",
              "az",
              "be",
              "bg",
              "bs",
              "ca",
              "cs",
              "de",
              "fi",
              "fr",
              "el",
              "es",
              "et",
              "hr",
              "hu",
              "id",
              "it",
              "is",
              "kw",
              "nb",
              "nl",
              "pl",
              "pt",
              "ro",
              "ru",
              "sk",
              "sl",
              "sr",
              "sv",
              "tr",
              "uk",
              "zh",
              "zh-tw"
            ],
            "type": "string",
            "format": "string"
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Wraps return in jsonp callback. Example: callback=func",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "key",
            "in": "query",
            "description": "Your registered API key.",
            "required": true,
            "type": "string",
            "format": "string"
          }
        ],
        "tags": [
          "Daily Historical Weather Data"
        ],
        "responses": {
          "200": {
            "description": "An Historical Day Data Object.",
            "schema": {
              "$ref": "#/definitions/HistoryDay"
            }
          },
          "default": {
            "description": "No Data.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/history/daily?station={station}": {
      "get": {
        "summary": "Returns Historical Observations - Given a station ID.",
        "description": "Returns Historical Observations - Given a station ID. **(LIMIT 1 day for Low Volume plans. LIMIT 7 days for Basic/Developer. LIMIT 30 days for Advanced/Advanced+/Enterprise)**",
        "parameters": [
          {
            "name": "station",
            "in": "path",
            "description": "Station ID.",
            "required": true,
            "type": "string",
            "format": "string"
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "Start Date (YYYY-MM-DD or YYYY-MM-DD:HH).",
            "required": true,
            "type": "string",
            "format": "string"
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "End Date (YYYY-MM-DD or YYYY-MM-DD:HH).",
            "required": true,
            "type": "string",
            "format": "string"
          },
          {
            "name": "units",
            "in": "query",
            "description": "Convert to units. Default Metric See <a href='/api/requests'>units field description</a>",
            "required": false,
            "enum": [
              "S",
              "I"
            ],
            "type": "string",
            "format": "string"
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language (Default: English) See <a href='/api/requests'>language field description</a>",
            "required": false,
            "enum": [
              "ar",
              "az",
              "be",
              "bg",
              "bs",
              "ca",
              "cs",
              "de",
              "fi",
              "fr",
              "el",
              "es",
              "et",
              "hr",
              "hu",
              "id",
              "it",
              "is",
              "kw",
              "nb",
              "nl",
              "pl",
              "pt",
              "ro",
              "ru",
              "sk",
              "sl",
              "sr",
              "sv",
              "tr",
              "uk",
              "zh",
              "zh-tw"
            ],
            "type": "string",
            "format": "string"
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Wraps return in jsonp callback. Example: callback=func",
            "required": false,
            "type": "string",
            "format": "string"
          },
          {
            "name": "key",
            "in": "query",
            "description": "Your registered API key.",
            "required": true,
            "type": "string",
            "format": "string"
          }
        ],
        "tags": [
          "Daily Historical Weather Data"
        ],
        "responses": {
          "200": {
            "description": "An Historical Day Data Object.",
            "schema": {
              "$ref": "#/definitions/HistoryDay"
            }
          },
          "default": {
            "description": "No Data.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/history/hourly?lat={lat}&lon={lon}": {
[...]
